<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Style Link -->
    <div th:replace="fragments/styling :: topStyleLinks" ></div>
    <!-- end -->

    <title>BlogPost Home</title>
  </head>

  <body>
      <!-- nav bar -->
      <div th:replace="fragments/navbar :: navbar" ></div>

    <div >
       <!-- JumboTron Start -->
      <div class="jumbotron text-center">
        <h1 class="display-4">Welcome to The Premier Blog Post Site!</h1>
        <p class="lead">Check out our blogs</p>
        <hr class="my-4">
        <p class="lead">
            <div id="newPostButton">
                <a th:href="@{/blogpost/new}">
                  <button class="btn btn-primary">Create a Blog Post Today!!!</button>
                </a>
            </div>
        </p>
      </div>

      <!-- how to reformat copied things -->
      <!-- Alt + Shift + f -->
      <!-- Select all tags with same name to select may -->
      <!-- CTRL + v -->

      <!-- Blog Post Card -->
      <div class="container">
        <div class="card border-info mb-4" th:each="blog:${posts}">
            <div class="card-body">
                <h3 class="card-title">
                    <p th:text="${blog.title}" />
                </h3>
                <h6 class="card-subtitle mb-2 text-muted">
                    <p th:text="${blog.author}" />
                </h6>
                <p class="card-text">
                    <p th:text="${blog.blogEntry}" />
                </p>
                <!-- Footer buttons to link -->
                <div class="card-footer border-dark">
                    <small class="text-muted">Last updated 3 mins ago</small>
                    <div>
                        <a href="#" class="btn btn-primary">Update Link</a>
                        <a href="#" class="btn btn-dark">Show Link</a>
                        
                        <a href="#" th:href="@{blogpost/{id}(id=${blog.id})}" class="btn btn-danger">Delete Post</a>

                    </div>
                </div>
            </div>
        </div>
      </div>
      

      
    </div>

    <!-- Bootstrap Footer Script -->
    <div th:replace="fragments/styling :: bottomJavascript" ></div>
    <!-- end -->
  </body>
</html>
