<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Style Link -->
    <div th:replace="fragments/styling :: topStyleLinks" ></div>
    <!-- end -->
    <title>BlogPost</title>
  </head>

  <body>
    <!-- nav bar -->
    <div th:replace="fragments/navbar :: navbar" ></div>
    <!-- nav bar end -->
    
    <div class="container">
		<h1>Create a New Blog Post</h1>
    <form action="#" th:action="@{/blogposts}" th:object="${blogPost}" method="post">
 		
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Blog Title..." th:field="*{title}" />
        </div>
        
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Author Name Here..." th:field="*{author}" />
        </div>
        
        <div class="form-group">
            <input type="text" class ="form-control" placeholder="Blog Entry" th:field="*{blogEntry}" />
        </div>

        <button class="btn btn-primary">Submit Your Post</button>
        </form>
    </div>





    <!-- Bootstrap Footer Script -->
    <div th:replace="fragments/styling :: bottomJavascript" ></div>
    <!-- end -->

  </body>
</html>
